# Порт, на котором поднимается сервер
PORT=8080

# Данные доступа к Базе Данных
POSTGRES_USER=smp_user
POSTGRES_PASSWORD=smp_password
POSTGRES_DB=smp_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Адрес gateway
GATEWAY_URL=http://localhost:8080

# Количество потоков для отправки запросов авторизации
CONCURRENCY=50
